.medio{
    display: flex;
}
.cuadrito{
    width: 200px;
    height: 150px;
    background-color: red;
    border: white solid 20px;
}
.cuadro{
    width: 300px;
    height: 150px;
    background-color: red;
    border: white solid 20px;
}